<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.edu.urp.quotesexpress">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".QuotesExpressApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".activities.AddQuoteActivity"
            android:label="@string/title_activity_add_quote"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.edu.urp.quotesexpress.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.QuoteActivity"
            android:label="@string/title_activity_quote"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.edu.urp.quotesexpress.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.QuoteOfDay"
            android:label="@string/title_activity_quote_of_day"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>